In [8]:
#integer
x = 2

In [2]:
distance = [10,15,17,26]
time = [.30,.47,.55,1.20]

In [3]:
speed = distance/time

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [4]:
import numpy as np

In [5]:
dist_ary = np.array(distance)
time_ary = np.array(time)

In [6]:
speed = dist_ary/time_ary

In [7]:
speed

array([33.33333333, 31.91489362, 30.90909091, 21.66666667])

In [3]:
print(x)

2

In [3]:
type(x)

int

In [5]:
#float/double
y=12.5

In [6]:
print(y)

12.5

In [6]:
type(y)

float

---

---

In [7]:
#String

In [9]:
a="Hello"
b = '23'
c = """"56.9"""

In [12]:
type(a),type(b),type(c)

(str, str, str)

In [11]:
a

'Hello'

In [8]:
type(a)

str

In [10]:
c

"'56.9'"

In [9]:
type(b)

str

In [11]:
type(c)

str

In [16]:
chr=a

In [17]:
type(chr)

str

----

In [13]:
#Logical/Boolean

In [18]:
q1 = True

In [19]:
q1

True

In [20]:
type(q1)

bool

In [24]:
q2 = False

In [25]:
type(q2)

bool

In [2]:
integer_x,interger_y,integer_z = 5,22,78  #Multiple assignments issue

In [27]:
integer_x
interger_y
integer_z

78

In [29]:
print(integer_x,interger_y,integer_z)

5 22 78

In [30]:
integer_x,interger_y,integer_z    #this code will not give us the correct output as we get "tuple" as the result

(5, 22, 78)

In [18]:
A = None
A is None

True

In [19]:
B = 10
B is None

False

## Typecasting numbers In Python, Type Casting is a process in which we convert a data value of one type to another.

In [12]:
#Type Cast int to float and string
#integer
n = 100

#float
f = float(n)
print(f)
type(f)

#string
s = str(n)
print(s)
type(s)

100.0
100

str

In [13]:
#Type Cast float to int and string
#float
f = 100.05

#integer
n = int(f)
print(n)
print(type(n))

#string
s = str(f)
print(s)
print(type(s))

100
<class 'int'>
100.05
<class 'str'>

In [13]:
var = '100'

In [14]:
type(var)

str

## if you have decimal point in the string, you cannot typecast that directly to an integer. You should first typecast string to float and then that to integer.

In [22]:
##string
s = '132.65'

#typecast to integer
n = int(float(s))
#m = int(n)
print(n)
print(type(n))

#typecast to float
f = float(s)
print(f)
print(type(f))

132
<class 'int'>
132.65
<class 'float'>

## Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.A tuple is a collection which is ordered and unchangeable.Tuples are written with round brackets. Commas are very important in tuples,tuples contain mixed data types

In [5]:
#Create a tuple
#my_tuple = ("A", "BA", "CC")
my_tuple2 = ("va","ab","45.9","99",(7,9),"hello")
print(my_tuple2)

('va', 'ab', '45.9', '99', (7, 9), 'hello')

In [15]:
T1 = (12,'Hello',89.5,(4,3),"""vb""") # This tuple T1 contains all the data types

In [16]:
T1

(12, 'Hello', 89.5, (4, 3), 'vb')

In [17]:
T1[2]

89.5

In [18]:
T1[2] = 45.9

TypeError: 'tuple' object does not support item assignment

In [17]:
#Tuples allow duplicate values:
my_tuple1 = ("A", "BA", "CC","A",(2,3))
print(my_tuple1)

('A', 'BA', 'CC', 'A', (2, 3))

In [6]:
#Print the number of items in the tuple
my_tuple1 = ("A", "BA", "CC","A")  #len is the length of a tuple,it gives the No of elements within the data structure
len(my_tuple1)

4

In [7]:
#One item tuple, remember the comma:
mytuple3 = ("tupple",)
print(type(mytuple3))

#NOT a tuple
tupleno = ("apple")
print(type(tupleno))

<class 'tuple'>
<class 'str'>

In [8]:
tupleno1 = ("apple",)
type(tupleno1)

tuple

In [9]:
#Tuple items can be of any data type:
tuple1 = ("alice", "Jenny", "clara")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [29]:
#A tuple can contain different data types,and tuples are defined as objects with the data type 'tuple'
t1 = ("abc", 34, True, 40.5, "male")
print(type(t1))

<class 'tuple'>

In [30]:
#Accessing items of a tuple
t1[3]

40.5

In [12]:
print(t1[-3])

True

## 0---1---2--3= positive indices.(left to right)                  
## negetive indices start from -1--(-2)---(-3) right to left

In [24]:
#Slicing Tuples
tuple2 = (12,"Mary",45.6,'second',(3,2),'test')  #COUNTS START AT THE FIRST INDEX BUT STOPS BEFORE THE SECOND INDEX
subset = tuple2[1:4]
subset

('Mary', 45.6, 'second')

In [25]:
subset2 = tuple2[1:-1]
subset2

('Mary', 45.6, 'second', (3, 2))

In [26]:
subset3 = tuple2[-3:-1]
subset3

('second', (3, 2))

## Lists: Unlike tuples,are one dimentional,mutable(changeable) and contains mixed data types.

In [1]:
list1 = ["abc", 34, True, 40, "male"]

In [2]:
list1

['abc', 34, True, 40, 'male']

In [3]:
#Using append function
list1.append("Jack")

In [4]:
list1

['abc', 34, True, 40, 'male', 'Jack']

In [24]:
#remove function
list1.remove("abc")

In [25]:
print(list1)

[34, True, 40, 'male', 'Jack']

## Shows that lists are mutable

In [26]:
#using pop() function,Remove the second element of list1:
list1.pop(2)

40

In [27]:
#display list1
list1      #value 40 is removed

[34, True, 'male', 'Jack']

In [28]:
#Insert function---we will insert a string "madhu" in list1
list1.insert(2,"madhu")

In [29]:
list1

[34, True, 'madhu', 'male', 'Jack']

## Accessing elements of a list

In [44]:
list2 =["jack",89.5, False,77,None,'Mary'] # None belongs to a distinct datatype called NoneType

In [45]:
list2

['jack', 89.5, False, 77, None, 'Mary']

In [47]:
#accessing elements using the positive index
list2[2]      #in case you put list2[2,3] it will become atuple and throw errors.

False

In [49]:
#Using negetive indices to access elements of a list
list2[-3]

77

In [51]:
#accessing elements of a list through indices
list2[1:4]       #it will fetch 1st,2nd and 3rd elements only.

[89.5, False, 77]

In [39]:
list3 = [1,4,5,6,8]

In [40]:
m,n = list3[1],list3[3]

In [43]:
out = list((list3[1],list3[2],list3[3]))
print(out)

[4, 5, 6]

In [35]:
m,n

(4, 6)

In [36]:
m

4

In [37]:
n

6

## Discard function

In [6]:
set1 ={1,2,3,4,5}

In [8]:
set1.discard(3)

In [10]:
print(set1)

{1, 2, 4, 5}

In [11]:
set1.discard(8)

In [12]:
print(set1)

{1, 2, 4, 5}

### pop() function-example 2

In [14]:
list3 = ["abc",78,99,"john",103.2]

In [15]:
list3.pop(3)

'john'

In [16]:
list3

['abc', 78, 99, 103.2]

In [17]:
#update----works on sets
set2 = {"a","b","c","d"}
set3 = {"e","f","g","h"}
set2.update(set3)
print(set2)

{'c', 'd', 'f', 'g', 'e', 'a', 'h', 'b'}

In [20]:
###symmetric difference of sets

M = {1,2,3,4,5,6}
N = {6,7,8,9,10}
print(M^N)   #eliminates the common values

{1, 2, 3, 4, 5, 7, 8, 9, 10}

## Dictionaries map a set of keys to a set of values. Keys are immutable,while values can be of any data type. We use the curly brackets{} to create the key value pairs

In [45]:
#Viweing keys and values in a dictionary.
first_dict = {'john':'travolta','kelly':'Brook','id':[34,43]}

In [46]:
first_dict

{'john': 'travolta', 'kelly': 'Brook', 'id': [34, 43]}

In [47]:
first_dict.keys()

dict_keys(['john', 'kelly', 'id'])

In [48]:
first_dict.values()

dict_values(['travolta', 'Brook', [34, 43]])

In [49]:
#Accesing and modifying dict elements
first_dict['john']

'travolta'

In [50]:
first_dict['id']

[34, 43]

In [51]:
#updating values in the dictionary
first_dict.update({'id':[32,89]})

In [52]:
first_dict

{'john': 'travolta', 'kelly': 'Brook', 'id': [32, 89]}

In [53]:
#deleting key-value pairs
del first_dict['id']

In [54]:
first_dict

{'john': 'travolta', 'kelly': 'Brook'}

In [22]:
###EXAMPLE2: We have one dict (mydict) which is composed of 3 different dictionaries

mydict = {
    "Learner1":{
        "name":"Deeksha",
        "joining_date":2022
    },
    "Learner2" :{
        "name":"abhishek",
        "joining_date":2020
    },
    "Learner3" :{
        "name":"unyime",
        "joining_date":2021
    }
}
print(mydict)

{'Learner1': {'name': 'Deeksha', 'joining_date': 2022}, 'Learner2': {'name': 'abhishek', 'joining_date': 2020}, 'Learner3': {'name': 'unyime', 'joining_date': 2021}}

In [24]:
house1 = {
    "number":304,
    "road":"road1"
}
house2 = {
    "number":404,
    "road":"road2"
}
house3 = {
    "number":504,
    "road":"road3"
}
Got = {
    "home1":house1,
    "home2":house2,
    "home3":house3
}
print(Got)

{'home1': {'number': 304, 'road': 'road1'}, 'home2': {'number': 404, 'road': 'road2'}, 'home3': {'number': 504, 'road': 'road3'}}

In [26]:
house1={
    "number":12,
    "road":"Sainath Colony"
}
house2={
    "number":13,
    "road":"Sainath Colony1"
}
house3={
    "number":14,
    "road":"Sainath Colony2"
}
Got={
    "Addr1":house1,
    "Addr2":house2,
    "Addr3":house3
}
print(Got)

{'Addr1': {'number': 12, 'road': 'Sainath Colony'}, 'Addr2': {'number': 13, 'road': 'Sainath Colony1'}, 'Addr3': {'number': 14, 'road': 'Sainath Colony2'}}

## A set is an unordered collection of unique elements.Sets are used to store multiple items in a single variable.Set items are unchangeable, but you can remove items and add new items.Sets are unordered, so you cannot be sure in which order the items will appear.Set items can appear in a different order every time you use them, and cannot be referred to by index or key.In sets,Duplicates are Not Allowed. We cannot change the items of the set but we can add or remove items.

In [55]:
#Sets are written with curly brackets.

set1 = {"abc", 34, True, 40, "male"}

In [56]:
set1

{34, 40, True, 'abc', 'male'}

In [72]:
type(set1)

set

In [57]:
#Does not allow duplicates.
set2 = {"abc",34,True,True,40,"male","male","90.7"}

In [75]:
set2 #NO SPECIFIC ORDER IS FOLLOWED BY THE ELEMENTS OF THE SET.

{34, 40, '90.7', True, 'abc', 'male'}

## Set Operations-Union(OR) and AND(Intersection) operators

In [76]:
combined_OR=set1|set2

In [77]:
combined_OR   #all elements of set1 and set2

{34, 40, '90.7', True, 'abc', 'male'}

In [78]:
Intersection_And = set1 & set2

In [79]:
Intersection_And  #in this case only common elements are displayed

{34, 40, True, 'abc', 'male'}

## The 'IN' Operator----Returns True if a sequence with the specified value is present in the object

In [28]:
student_names = ['Tom','Dick','Harry','sarah','Nicole']

In [29]:
'Tom' in student_names

True

In [30]:
'jenny' in student_names

False

In [8]:
word = 'sequence'

In [9]:
word

'sequence'

In [6]:
't' in word

False

In [7]:
'c' in word

True

In [10]:
list3 = [8,9,10,11]

In [11]:
string2 = 'hello world'

In [12]:
tuple3 =(99,89,79,69)

In [13]:
print(11 in list3)

True

In [14]:
77 in list3

False

In [15]:
79 in tuple3

True

In [16]:
79 not in tuple3

False

## Arithmetic operators are used with numeric values to perform common mathematical operations: the plus operator produces a tuple,list or string which is a concatenation of its arguments.

In [5]:
scores1 = [67,66,50,47]
scores2 = [70,80,90,47]

In [6]:
add_scores = scores1+scores2

In [7]:
add_scores

[67, 66, 50, 47, 70, 80, 90, 47]

In [11]:
first_name = 'allen'
last_name = 'Parker'
full_name = first_name +" "+last_name
full_name

'allen Parker'

## The multiplication operator produces a new tuple,list or string that repeats the original content. The operator '*' does not perform actual multiplication,but just repeats the content for a specific number of times.

In [17]:
age = (12,24,36)*3
age

(12, 24, 36, 12, 24, 36, 12, 24, 36)

In [18]:
#using a list
ID = [101,202,444]*2
ID

[101, 202, 444, 101, 202, 444]

In [19]:
#USING A STRING
name = 'friend'*3
name

'friendfriendfriend'

## Functions are the primary and most important method to do organised coding and can be reused. It starts with the 'def' keyword,and the outcome of a function is obtained by the Return statement. Arguments within the parenthesis are basically the tasks assigned to the function.

### We use 'def' to create a function,and post that we give it a name.

In [16]:
#IN PYTHON A FUNCTION IS DEFINED USING 'DEF' KEYWORD
#TO CALL A FUNCTION USE THE FUNCTION NAME FOLLOWED BY A PARENTHESIS()
def add_two_numbers(num1,num2):
        return num1+num2
number1=23
number2=47.5
result = add_two_numbers(number1,number2)

In [17]:
result

70.5

In [3]:
#A parameter is the variable listed inside the parentheses in the function definition.(fname,lname)
#An argument is the value that is sent to the function when it is called.(bruce,lee)

def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Bruce", "Lee")

Bruce Lee

In [6]:
def profile():         #no parameters are mentioned
    age=21
    height=5.5
    weight=54
    return age,height    #age and weight is the outcome we want,defined by return statement
age, height = profile()  #We call the function using function name

In [7]:
print (age, height)

21 5.5

In [2]:
def profile(weight,age):
    print(f"The stats are {weight},{age}")
profile(70,50)

#f stands for formatted strings. 
#these strings contain replacement fields.these replacement fields are limited by curly brackets.

The stats are 70,50

## Inbuilt Functions

### The enumerate() function takes a collection (e.g. a tuple) and returns it as an enumerate object.The enumerate() function adds a counter as the key of the enumerate object. Basically it creates an index of data so that we can create a data map

In [32]:
x = ('apple', 'banana', 'cherry')
y = enumerate(x)
print(list(y))     #We get the output as a list

[(0, 'apple'), (1, 'banana'), (2, 'cherry')]

In [2]:
my_List=['A','b','c','d']
z =enumerate(my_List)
print(list(z))

[(0, 'A'), (1, 'b'), (2, 'c'), (3, 'd')]

In [4]:
# We will first start with a list of cities
city_list = ['Bangkok','Paris','Lahore','Moscow','Cairo']

In [35]:
#Now we use the enumerate function to create an index of the data,we want the index first,so we write'position'
for position,name in enumerate(city_list):
    print(position,name)

0 Bangkok
1 Paris
2 Lahore
3 Moscow
4 Cairo

In [6]:
#We create a data map now,using a dict
city_map = dict((name,position) for position,name in enumerate (city_list)) #enumerate function gives index first

In [7]:
city_map

{'Bangkok': 0, 'Paris': 1, 'Lahore': 2, 'Moscow': 3, 'Cairo': 4}

## Sort function- sorts numeric and string values

In [8]:
x = ['q', 'w', 'r', 'e', 't', 'y']
print(sorted(x))

['e', 'q', 'r', 't', 'w', 'y']

In [1]:
a = (1, 11, 2)
x = sorted(a)
print(x)

[1, 2, 11]

In [9]:
#Now sorting in the descending order
a = ("h", "b", "a", "c", "f", "d", "e", "g")
x = sorted(a, reverse=True)
print(x)

['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

## Reverse and Zip functions

In [10]:
#Reverse function is used to reverse the list of elements in a list
num_list=[5,6,7,8,9,10]
list(reversed(num_list))

[10, 9, 8, 7, 6, 5]

In [11]:
#Zip functions are used to pair elements of two lists
subjects =['maths','statistics','science','economics']
subject_num = ['one','two','three','four']
all_subjects = list(zip(subjects,subject_num))   #Changed code for python 3
all_subjects

[('maths', 'one'),
 ('statistics', 'two'),
 ('science', 'three'),
 ('economics', 'four')]

In [8]:

subjects =['maths','statistics','science','economics']
subject_num = ['one','two','three','four']
all_subjects = list(zip(subjects,subject_num))

## Local scope,Global scope,Enclosing Scope,Built in

#### local:

In [4]:
m = 'global variable'

def myfirst():
    m = 'inner variable'
    print(m)

In [6]:
myfirst()   #here m takes the local value,not the global value. So m has local scope

inner variable

#### Global:

In [7]:
g = 'global variable'

def mysecond():
    q = 'inner variable'
    print(g)

In [8]:
mysecond()
print(g)

global variable
global variable

In [9]:
mysecond()

global variable

#### Enclosing Scope:

In [3]:
g = 'This is my global variable'

def mythird():
    encv = 'non global variable'
    def myfourth():
        nonlocal encv
        print(encv)
    myfourth()

#the nonlocal function/keyword is inbuilt,and works on variables inside nested functions,where specifically 
# the variable IS NOT  to be a part of an inner function
#enclosed scope is also called NON LOCAL scope. it usually refers to variables defined within the nested functions

In [4]:
mythird()
print(g)

non global variable
This is my global variable

In [10]:
first_dict = {'a':2,'b':4,'c':8}

In [11]:
first_dict.keys()

dict_keys(['a', 'b', 'c'])

In [12]:
first_dict.values()

dict_values([2, 4, 8])